body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, hsl(180, 100%, 50%), hsl(0, 0%, 21%));
    color: #FFF;
    font-family: "DM Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Fjalla One", sans-serif;
}
/* NAVBAR */

nav img {
    width: 50px;
    margin-right: 20px;
}

.navbar-hover {
    background-color: #363636a9;
    transition: background-color 0.3s ease;
}

.navbar-hover:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* HEADER */
header img {
    height: 100%;
}

/* QUIENES SOMOS */
#quienes-somos {
    padding: 100px;

    color: #FFF;
}

.bar-q {
    background-color: hsl(180, 100%, 50%);
    color: #fff;
    text-align: center;
    box-shadow: 0px 1px 11px 0px #000;
}

.sw-box {
    padding: 10px;
    transition: box-shadow 0.5s ease-in-out;
}

.sw-box:hover {
    box-shadow: 0px 20px 20px 0px #000;
    animation: shadowAnimation 0.1s ease-in-out;
}

@keyframes shadowAnimation {
    0% {
        box-shadow: 0px 0px 0px 0px #000;
    }
    100% {
        box-shadow: 0px 20px 20px 0px #000;
    }
}

.bar-q i {
    color: #000;
    font-size: 2em
}

/* DESTACADOS */
.sw-box-des {
    transition: box-shadow 0.5s ease-in-out;
}

.sw-box-des:hover {
    box-shadow: 0px 5px 9px 0px #000;
    animation: shadowAnimationDesc 0.5s ease-in-out;
}

@keyframes shadowAnimationDesc {
    0% {
        box-shadow: 0px 0px 0px 0px #000;
    }
    100% {
        box-shadow: 0px 5px 9px 0px #000;
    }
}

.fixed-height {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

/* Bloque principal */
.testimonios {
    padding: 40px 0;
  }
  
  .testimonios__titulo {
    margin-bottom: 20px;
  }
  
  .testimonios__lista {
    border-top: 2px solid #ffffff;
    padding-top: 20px;
  }
  
  /* Elementos del bloque */
  .testimonios__item {
    text-align: center;
  }
  
  .testimonios__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d5e0ea4e;
    border-radius: 8px;
    height: 100%;
  }
  
  .testimonios__blockquote {
    margin-bottom: 20px;
  }
  
  .testimonios__texto {
    font-style: italic;
  }
  
  .testimonios__imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testimonios__nombre {
    font-weight: bold;
    color: #3d3d3d;
  }
  

/* fOOTER */
footer {
    background: #171717;
    color: #FFF;
}

a {
    text-decoration: none; 
}

a i {
    color: #fff; 
}

a:hover i,
a:focus i,
a:active i {
    color: #fff;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      height: 300px;
    }
  }

  