body  {
    margin: 0;
    padding: 0;
    background: #0e373d;
    color: #FFF;
}

/* NAVBAR */
.navbar-transparent {
    background-color: #35353518 !important;
}

nav img {
    width: 50px;
    margin-right: 20px;
}

/* HEADER */
header img{
    height: 100%;
}

/* QUIENES SOMOS */
#quienes-somos{
    padding: 100px;

    color: #FFF;
}
.bar-q{
    background-color: aqua;
    color: #fff;
    text-align: center;
}
/* DESTACADOS */
.fixed-height {
    height: 200px; 
    object-fit: cover;
    width: 100%; 
}

/* fOOTER */
footer {
    background: #05deff;
    color: #000;
}