body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, hsl(180, 100%, 50%), hsl(0, 0%, 21%));
    color: #FFF;
    font-family: "DM Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Fjalla One", sans-serif;
}
/* NAVBAR */

nav img {
    width: 50px;
    margin-right: 20px;
}

.navbar-hover {
    background-color: #363636a9;
    transition: background-color 0.3s ease;
}

.navbar-hover:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* HEADER */
header img {
    height: 100%;
}

/* QUIENES SOMOS */
#quienes-somos {
    padding: 100px;

    color: #FFF;
}

.bar-q {
    background-color: hsl(180, 100%, 50%);
    color: #fff;
    text-align: center;
    box-shadow: 0px 1px 11px 0px #000;
}

.sw-box {
    padding: 10px;
    transition: box-shadow 0.5s ease-in-out;
}

.sw-box:hover {
    box-shadow: 0px 20px 20px 0px #000;
    animation: shadowAnimation 0.1s ease-in-out;
}

@keyframes shadowAnimation {
    0% {
        box-shadow: 0px 0px 0px 0px #000;
    }
    100% {
        box-shadow: 0px 20px 20px 0px #000;
    }
}

.bar-q i {
    color: #000;
    font-size: 2em
}

/* DESTACADOS */
.sw-box-des {
    transition: box-shadow 0.5s ease-in-out;
}

.sw-box-des:hover {
    box-shadow: 0px 5px 9px 0px #000;
    animation: shadowAnimationDesc 0.5s ease-in-out;
}

@keyframes shadowAnimationDesc {
    0% {
        box-shadow: 0px 0px 0px 0px #000;
    }
    100% {
        box-shadow: 0px 5px 9px 0px #000;
    }
}

.fixed-height {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

/* fOOTER */
footer {
    background: #171717;
    color: #FFF;
}

a {
    text-decoration: none; 
}

a i {
    color: #fff; 
}

a:hover i,
a:focus i,
a:active i {
    color: #fff;
}