body  {
    margin: 0;
    padding: 0;
    
}

/* NAVBAR */
.navbar-transparent {
    background-color: transparent !important;
}

nav img {
    width: 50px;
    margin-right: 20px;
}

/* HEADER */
header img{
    height: 100%;
}